body {
    margin: auto;
    width: 75%;
    max-width: fit-content;
    color: #404040
}
header{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 650px){
    header{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}
nav{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h2{
    background-color: #404040;
    color: #ffffff;
}
.logo{
    width: 250px;
}
#best-film{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 650px){
    #best-film{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}
.BF-infos{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width: 650px){
    .BF-infos{
        align-items: center;
    }
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.movie-title-box{
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
    color: #404040;
}
div.carroussel {
    width: 900px;
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
article.movie-poster{
    align-items: center;
    width: 182px;
}
.btn {
    border:0;
    background:transparent
}
polygon{
    fill:#404040;
    stroke:#404040;
    stroke-width:1
}
polygon:hover {
    fill:#bfbfbf;
    stroke: #bfbfbf;
}
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #bfbfbf;
    height: 50px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    max-width: 50%; /* Full width */
    left: 50px;
    top: 50px;

}
  
/* Modal Content/Box */
.modal-content {
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
    padding: 20px;
    border: 3px solid #404040;
}
.modal-movie-poster{
    margin-left: 20px;
}
.modal-movie-info{
    color: #404040;
    margin-left: 20px;
}
/* The Close Button */
.close {
color: #808080;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #404040;
text-decoration: none;
cursor: pointer;
}